affine==2.3.0
anytree==2.8.0
attrs==20.2.0
backoff==1.10.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
contextily==1.0.0
cryptography==3.1.1
cycler==0.10.0
descartes==1.1.0
Fiona==1.8.17
geographiclib==1.50
geopandas==0.8.1
geopy==2.0.0
idna==2.10
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.2
mercantile==1.1.6
munch==2.5.0
nltk==3.5
numpy==1.19.2
opencage==1.2.1
pandas==1.1.2
Pillow==7.2.0
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz==2020.1
rasterio==1.1.7
regex==2020.9.27
requests==2.24.0
Shapely==1.7.1
simplejson==3.17.2
six==1.15.0
snuggs==1.4.7
tqdm==4.50.0
urllib3==1.25.10
xlrd==1.2.0
